{% extends 'raycaster/layout.html.twig' %}
{% block content %}
    {{ parent() }}

    {% embed 'layout/card.html.twig' %}
        {% block title %}Github repository{% endblock %}
        {% block content %}
            <p>The repository is located here : <a href="https://github.com/laboralphy/h5-raycaster-lab">github.com/laboralphy/h5-raycaster-lab</a></p>
        {% endblock %}
    {% endembed %}

{% endblock %}