<div class="row">
    <div class="col lg-12">
        <section class="card">
            <div class="row">
                <div class="col lg-12">
                    <h1 class="title blue">O876 Raycaster</h1>
                    <h4>A Raycasting Framework for building HTML 5 Games</h4>
                </div>
                <div class="col lg-12">
                    {% include 'raycaster/menu-main.html.twig' %}
                </div>
            </div>
        </section>
    </div>
</div>
