<div class="row">
    <div class="col lg-12">
        {% import 'macros/nav.html.twig' as nav %}
        {{ nav.bar ([{
            'caption': 'Home',
            'icon': 'mdi-home',
            'page': 'raycaster.index'
        }, {
            'caption': 'Features',
            'icon': 'mdi-format-list-numbers',
            'page': 'raycaster.feats'
        }, {
            'caption': 'Demos',
            'icon': 'mdi-gamepad-variant',
            'page': 'raycaster.demos'
        }, {
            'caption': 'Level editor',
            'icon': 'mdi-grid',
            'url': '../raycaster/dynamics/rcwe'
        }, {
            'caption': 'GitHub',
            'icon': 'mdi-github-circle',
            'page': 'raycaster.github'
        }, {
            'caption': 'Youtube',
            'icon': 'mdi-youtube-play',
            'page': 'raycaster.youtube'
        }
        ]) }}
    </div>
</div>