{% extends 'labo/layout.html.twig' %}
{% block content %}
    {{ parent() }}

    {% embed 'layout/card.html.twig' %}
        {% block title %}Welcome !{% endblock %}
        {% block content %}
            <p>This is the website where I present all my projects.</p>
            <p>The only section is <b>"Raycasting"</b> because I'm focusing on this at the moment.</p>
        {% endblock %}
    {% endembed %}


{% endblock %}