{% extends 'labo/layout.html.twig' %}
{% block content %}
    {{ parent() }}

    {% embed 'layout/card.html.twig' %}
        {% block title %}Welcome{% endblock %}
        {% block content %}

            <p>This website is a place where I present all my projects.</p>
            <p>Most of them are game projects because I'm skilled at building games.
                I currently use HTML 5 because it's an amazing set of technologies and it allows me
                to immediatly show the result of my work...</p>
            <p>One of my focus is "Raycasting", and I built a full set of pages about the subject.
                you should check it out by clicking the "Raycasting" button on the top menu.</p>

        {% endblock %}
    {% endembed %}


{% endblock %}