{% extends "layout/layout.html.twig" %}
{% import "macros/nav.html.twig" as nav %}
{% block content %}

    <main class="card">
        <div class="row">
            <div class="col lg-12">
                <h1 class="title blue">Index</h1>
            </div>
        </div>
        <div class="row">
            <div class="col lg-12">
                {{ nav.bar ([{
                    'caption': 'Home',
                    'icon': 'mdi-home',
                    'page': 'home'
                }, {
                    'caption': 'Features',
                    'icon': 'mdi-format-list-numbers',
                    'page': 'feats'
                }, {
                    'caption': 'Demos',
                    'icon': 'mdi-gamepad-variant',
                    'page': 'demos'
                }, {
                    'caption': 'Level editor',
                    'icon': 'mdi-grid',
                    'url': '../rcwe'
                }, {
                    'caption': 'GitHub',
                    'icon': 'mdi-github-circle',
                    'page': 'github'
                }, {
                    'caption': 'Youtube',
                    'icon': 'mdi-youtube-play',
                    'page': 'youtube'
                }
                ]) }}
            </div>
        </div>

        <div class="row">
            <div class="col lg-6 sm-12">
                <p>Col 1</p>
                <img src="images/bde.jpg" />
            </div>
            <div class="col lg-6 sm-12">
                <p>Col 2</p>
                <nav>
                    <ul>
                        <li>
                            <button type="button">button</button>
                        </li>
                        <li>
                            <a class="btn" href="#">link</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>


{% endblock %}