<div class="row">
    <div class="col {{ size | default('lg-12') }}">
        <section class="card">
            <div class="row">
                <div class="col lg-12">
                    <h3>{% block title %}{% endblock %}</h3>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </section>
    </div>
</div>
