<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>TITLE</title>
		<link rel="stylesheet" type="text/css" href="styles/responsive/normalize.css" media="all"/>
		<link rel="stylesheet" type="text/css" href="styles/responsive/starter.css" media="all"/>
		<link rel="stylesheet" type="text/css" href="styles/responsive/custom.css" media="all"/>
		<link rel="stylesheet" type="text/css" href="styles/responsive/colors.css" media="all"/>
		<!-- npm install mdi -->
		<link rel="stylesheet" type="text/css" href="styles/mdi/css/materialdesignicons.min.css" media="all"/>
		
		<!-- MOBILE NO RESCALE DIRECTIVE -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
	</head>
	<body>
	{% include 'layout/head.html.twig' %}
    {% block content %}{% endblock %}
	</body>
</html>
